<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wall</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row m-2 navbar align-items-start">
                <!--title bar -->
                <div class="col-3">
                    <h4>CodingDojo Wall</h4>
                </div>
                <div class="col-5"></div>
                <div class="col-2">
                    <p class="float-right">Welcome {{session_user.first_name}}</p>
                </div>
                <div class="col-2">
                    <a role="button" class="btn btn-sm btn-danger float-right" href="/messages/logout">Logout</a>
                </div>
        </div>
        <div class="row m-3">
            <div class="col mx-5 my-2">
                <!--post a message textarea form-->
                <form class="form-group" action="/messages/process_message" method="POST">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="message">Post a message</label>
                        <textarea class="form-control" id="message" name="message" rows="3" placeholder="...type your message here..."></textarea>
                        <button class="btn btn-primary btn-sm float-right m-2" type="submit">Post a message</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row m-2">
            <div class="col ml-5 my-1">
                <!--show newly posted comment here, using for loop/context dict
                include name of poster and date posted-->
                {% for message in all_messages %}
                    <p class="ml-2 mr-5 border-top border-light">{{message.user.first_name}} {{message.user.last_name}} - {{message.created_at}}</p>
                    <div class="row">
                        <div class="col">
                            <p class="ml-4 mb-3">{{message.message}}</p>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col mx-5">
                            <!--post a comment textarea form-->
                            <form class="form-group" action="/messages/process_comment" method="POST">
                                {% csrf_token %}
                                    <div class="form-group">
                                        <label for="comment">Post a comment</label>
                                        <textarea class="form-control" id="comment" name="comment" rows="3" placeholder="...type your comment here..."></textarea>
                                        <input type='hidden' value='{{session_user.id}}'>
                                        <button class="btn btn-success btn-sm float-right m-2">Post a comment</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                {% endfor %}
                
                <!-- <div class="row m-2">
                    <div class="col m-2">
                        <!--show newly posted comments-->
                        <!-- {% for comment in all_comments %}
                        <p class="ml-2 mr-5 border-top border-light">{{comment.user.first_name}} {{comment.user.last_name}} - {{comment.created_at}}</p>
                        <div class="row">
                            <div class="col">
                                <p class="ml-4 mb-3">{{comment.comment}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>